@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
}
nav {
    background-color: #987070;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}
nav li {
    height: 50px;
}

nav a {
    text-decoration: none;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: white;
    transition: all 0.6s ease;
}

nav a:hover {
    background-color: #C39898;
}

nav li:first-child {
    margin-right: auto;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #987070;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    gap: 50px;
    background-color: #F1E5D1;
}

.profilePic img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.shortBio {
    max-width: 400px;
    text-align: left;
}

.shortBio h1 {
    font-size: 36px;
    color: #333;
}

.shortBio h2 {
    font-size: 24px;
    color: #555;
}

@media screen and (max-width: 768px) {
    .hideOnMobile {
      display: none;
    }
  }

@media screen and (min-width: 769px) {
    .hideOnDesktop {
      display: none;
      margin-top: 80px; /* Prevent content from being hidden under navbar */
        height: 2000px; /* Just for scrolling effect */
    }
  }
.About {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    gap: 50px;
    background-color: #DBB5B5;
}

.logo {
    font-weight: 700;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}

.Projects {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
    gap: 50px;
}